html, body {
	height:100%;
}
body {
    text-align:center; /* Centralizar na horizontal no IE caso o site entre em Quirks mode */
	background:white url('bgnoise.png') repeat;
}
#distance {
    width:1px;
    height:40%;
    background-color:#fc6;
    margin-bottom:-13.75em; /* Metade da altura do nosso box que ficará centralizado */
    float:left;
}
#container {
    margin:0 auto;
    position:relative; /* Coloca o container frente ao elemento com o id distance */
    text-align:left;
    height:27.5em;
    width:720px;
    clear:left;
    background-color:#eaeaea;
    border:1px solid #cccccc;
	padding: 10px;
	padding-right: 17px !important;
	overflow: auto;
	overflow-x: hidden;
}
#sender-container {
	margin:0 auto;
    position:relative; /* Coloca o container frente ao elemento com o id distance */
    text-align:left;
    height:20px;
    width:45em;
    clear:left;
	margin-top: 20px;
}
#txt-sender {
	width: 658px;
	background-color:#eaeaea;
    border:1px solid #cccccc;
	height: 35px;
	font-size: 18px;
	padding-left: 5px;
}
#btn-sender {
	height: 35px;
	border: solid 1px #6eb2f9;
	background-color: #6eb2f9;
	color: #ffffff;
	vertical-align: top;
	cursor: pointer;
}
#btn-sender:active {
	background-color: #4F80B3;
}

.rounded-15 {
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.rounded-5 {
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.user-text {
	position:relative;
	padding:15px;
	margin:1em 0 1em;
	color:black;
	background:#CAD4E7;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left:50px;
}

.user-text:after {
	content:"";
	position:absolute;
	top:16px;
	bottom:auto;
	left:-50px;
	border-width:10px 50px 10px 0;
	border-style:solid;
	border-color:transparent #CAD4E7;
    display:block; 
    width:0;
}

.alisiri-text {
	text-align: right;
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:black;
	background:#CCE3F3;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-right: 50px;
} 
.alisiri-text:after {
	content: "";
	position: absolute;
	top: 16px; /* controls vertical position */
	bottom: auto;
	right: -50px; /* value = - border-left-width - border-right-width */
	left: auto;
	border-width: 10px 0 10px 50px;
	border-style: solid;
	border-color: transparent #CCE3F3;
    /* reduce the damage in FF3.0 */
    display: block; 
    width: 0;
}